services:
  hollo_bind.write_config_listener:
    class: Hollo\BindBundle\Listener\WriteConfigListener
    arguments: [@doctrine.orm.entity_manager, @hollo_bind.bind]
    tags:
      - { name: kernel.event_listener, event: domain.add, method: onDomainAdd }
  hollo_bind.write_zone_listener:
    class: Hollo\BindBundle\Listener\WriteZoneListener
    arguments: [@doctrine.orm.entity_manager, @hollo_bind.bind]
    tags:
      - { name: kernel.event_listener, event: record.add, method: onRecordAdd }
