services:
  hollo_bind.write_zone_listener:
    class: Hollo\BindBundle\Listener\WriteZoneListener
    arguments: [@doctrine.orm.entity_manager, @hollo_bind.bind]
    tags:
      - { name: kernel.event_listener, event: record.add, method: onRecordAdd }
  hollo_bind.write_zone_listener:
    class: Hollo\BindBundle\Listener\WriteZoneListener
    arguments: [@doctrine.orm.entity_manager, @hollo_bind.bind]
    tags:
      - { name: kernel.event_listener, event: domain.mod, method: onDomainMod }
  hollo_bind.mod_queue_listener:
    class: Hollo\BindBundle\Listener\ModQueueListener
    arguments: [@doctrine.orm.entity_manager]
    tags:
      - { name: kernel.event_listener, event: record.add, method: onRecordAdd }
      - { name: kernel.event_listener, event: record.del, method: onRecordDel }
  hollo_bind.mod_queue_listener:
    class: Hollo\BindBundle\Listener\ModQueueListener
    arguments: [@doctrine.orm.entity_manager]
    tags:
      - { name: kernel.event_listener, event: domain.add, method: onDomainAdd }
