services:
  hollo_bind.mod_queue_listener:
    class: Hollo\BindBundle\Listener\ModQueueListener
    arguments: [@doctrine.orm.entity_manager]
    tags:
      - { name: kernel.event_listener, event: record.del, method: onRecordDel }
      - { name: kernel.event_listener, event: record.add, method: onRecordAdd }
      - { name: kernel.event_listener, event: record.mod, method: onRecordMod }
      - { name: kernel.event_listener, event: domain.del, method: onDomainDel }
      - { name: kernel.event_listener, event: domain.add, method: onDomainAdd }
      - { name: kernel.event_listener, event: domain.mod, method: onDomainMod }
  hollo_menu.top_menu_listener:
    class: Hollo\BindBundle\Listener\TopMenuListener
    arguments: [@router, @security.context, @translator]
    tags:
      - { name: kernel.event_listener, event: top_menu.render, method: onTopMenuRender }
  hollo_bind.add_record_listener:
    class: Hollo\BindBundle\Listener\AddRecordListener
    arguments: [@doctrine.orm.entity_manager, %hollo_bind.nameservers%]
    tags:
      - { name: kernel.event_listener, event: domain.add, method: onDomainAdd }

