{% extends "HolloBindBundle::layout.html.twig" %}

{% block body %}

{% include "HolloBindBundle:AdminDomain:top.html.twig" %}

<h2>New domain</h2>

<form method="post" action="{{ path('hollo_bind_admindomain_new') }}">
  {% include "HolloBindBundle:AdminDomain:form.html.twig" %}
</form>

{% endblock %}
