{% extends "HolloBindBundle::base.html.twig" %}

{% block body %}
<h1>Update domain</h1>

<form method="post" action="{{ path('hollo_bind_admindomain_update', {'id':domain.id}) }}">
  {% include "HolloBindBundle:AdminDomain:form.html.twig" %}
</form>

{% endblock %}
