{% extends "::base.html.twig" %}

{% block body %}
<h1>New zone</h1>

<form method="post" action="{{ path('hollo_bind_adminzone_new') }}">

  <fieldset>
    <legend>Add zone</legend>
    {{ form_widget(form) }}

    <input type="submit" />
  </fieldset>

</form>

{% endblock %}
