{% extends "HolloBindBundle::layout.html.twig" %}

{% block body %}
<h2>New PTR</h2>

<form method="post" action="{{ path('hollo_bind_adminptr_new') }}">
  {% include "HolloBindBundle:AdminPTR:form.html.twig" %}
</form>

{% endblock %}
