{% extends "HolloBindBundle::layout.html.twig" %}

{% block body %}

{% include "HolloBindBundle:Domain:top.html.twig" %}

<h2>{{ domain.domain }}</h2>

<fieldset>
  <legend>Domain Config</legend>

  <textarea rows="30" cols="80">{{ output }}</textarea>

</fieldset>

{% endblock %}
