{% extends "HolloBindBundle::layout.html.twig" %}

{% block body %}

{% include "HolloBindBundle:Domain:top.html.twig" with {'domain':record.domain} %}

<h2>Update record</h2>

{% include "HolloBindBundle:Record:info.html.twig" %}

<form method="post" action="{{ path('hollo_bind_record_update', {'id':record.id}) }}">
  <fieldset>
    <legend>Record</legend>
    {{ form_widget(form) }}

    <input type="submit" class="input-submit" />
  </fieldset>
</form>

{% endblock %}
